modules = ["nodejs-22", "web"]
run = "npm run build && npm start"
[[ports]]
localPort = 3001
externalPort = 80
[deployment]
deploymentTarget = "vm"
build = ["npm", "run", "build"]
run = ["npm", "start"]
